 <section>
    <h1>Cards Page</h1>

    <div class="cardFilters">
        <h2 class="filterHeading">Colors</h2>
        <button ng-repeat="color in $ctrl.colorOptions" class="colorFilterButton"  ng-click="$ctrl.addFilter(color, 'colors')"  ng-style="{backgroundColor: color};">{{color}}</button>
        
        <h2 class="filterHeading">Sets</h2>
        <button ng-repeat="set in $ctrl.setOptions"  class="filterButton" ng-click="$ctrl.addFilter(set, 'sets')">{{set.name}}</button>
        <br>
        <br>
        <button ng-click="$ctrl.getCards()">Get Cards</button>
    <div/>

    <div class="cardGallery" style="background-image: url('./images/woodBackground.png')">
        <div class="card" ng-repeat="card in $ctrl.cards">
            <!--<h3 id="cardName">{{card.name}}</h3>-->
            <image class="cardImage" src={{card.imageUrl}} title={{card.name}} /> 
        </div> 
    </div>

</section>