button {
  cursor: pointer; }

.actionButton {
  min-height: 5vw;
  min-width: 10vw;
  background-color: #13262F;
  color: white;
  font-size: 2vw;
  border: 0.2vw solid #eda621;
  border-radius: 2vw;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  margin: 2vw; }
  .actionButton:hover {
    transform: scale(1.1);
    color: #eda621; }

.filterButton {
  background-color: #13262F;
  border-radius: 1vw;
  margin: 0.1vw;
  height: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .filterButton:hover {
    background-color: black;
    color: white;
    border: 0.3vw solid #eda621;
    transform: scale(1.1); }

.activeFilterButton {
  background-color: black;
  color: white;
  border: 0.3vw solid #eda621; }
  .activeFilterButton:hover {
    background-color: lightgrey;
    color: black;
    border: none;
    transform: scale(1.1); }

.colorFilterButton {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  margin: 0.1vw;
  border: 0.2vw solid #13262F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .colorFilterButton:hover {
    transform: scale(1.1);
    border: 0.3vw solid #eda621;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); }

.activeColorFilterButton {
  border: 0.3vw solid #eda621;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); }
  .activeColorFilterButton:hover {
    transform: scale(1.1);
    border: 0.2vw solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

* {
  color: white;
  background-color: black;
  font-family: 'Cormorant', serif; }

#menuIcon {
  position: absolute;
  height: 5vh;
  top: 1vw;
  right: 1vw;
  padding: 0vh;
  margin: 0vh;
  background-color: green; }

.main-nav ul {
  display: none;
  margin: 0 auto;
  background-color: black;
  opacity: 0.85;
  list-style: none;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1vh solid red; }

.link {
  padding: 1% 5%;
  text-align: center;
  font-size: 3vh; }

nav:hover ul {
  display: block; }

nav:hover #menuIcon {
  background-color: white; }

.activeLink {
  color: green; }

.branding {
  color: #FFF;
  font-size: 3vh;
  font-weight: bold;
  text-shadow: 3px 4px 4px black; }

a:hover {
  cursor: pointer;
  color: red; }

.cardFilters {
  display: inline-block; }

.filterHeading {
  display: inline-block; }

.cardGallery {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100vw;
  padding: 1vw; }

.card {
  display: inline-block;
  padding: 0.1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.cardImage {
  border: 0.25vw solid white;
  width: 15vw;
  border-radius: 1vw; }
  .cardImage:hover {
    cursor: pointer;
    border: 0.25vw solid grey;
    transform: scale(1.1); }

#cardName {
  color: white; }

/*# sourceMappingURL=main.css.map*/