@import 'colors';

button{
    cursor: pointer;
}

.actionButton{
    min-height: 5vw;
    min-width: 10vw;
    background-color: $gun;
    color: white;
    font-size: 2vw;
    border: 0.2vw solid $gold;
    border-radius: 2vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
    margin: 2vw; 
        &:hover {
            transform: scale(1.1); 
        }
}

.filterButton{
    background-color:$gun;
    border-radius: 1vw; 
    margin: 0.1vw;
    height: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover{
        background-color: black;
        color: white;
        border: 0.3vw solid $gold; 
        transform: scale(1.1); 
    }
}

.activeFilterButton{
    background-color: black;
    color: white;
    border: 0.3vw solid $gold; 
       &:hover{
        background-color: lightgrey;
        color: black;
        border: none;
        transform: scale(1.1); 
    }
}
.colorFilterButton {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    margin: 0.1vw;
    border: 0.2vw solid $gun;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &:hover {
            transform: scale(1.1); 
            border: 0.3vw solid $gold;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        }
}   

.activeColorFilterButton{
    border: 0.3vw solid $gold;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        &:hover{
            transform: scale(1.1); 
            border: 0.2vw solid black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
